# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Build Artifacts
/android/app/debug
/android/app/profile
/android/app/release
.artifacts

# Environment variables & secrets
.env
.env.*
*.env
*.keystore
*.jks
*.p12
*.pem
*.key
key.properties
local.properties

# Firebase Credentials & API Configuration Keys
google-services.json
GoogleService-Info.plist
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/ios/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
**/web/firebase-config.js
firebase_debug_manifest/
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
lib/firebase_options.dart